@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
*{
  font-family: 'VT323', monospace;
  box-sizing: border-box;
}
html{
  height: 100vh;
}
body{
  background: radial-gradient(rgb(0, 141, 212), rgb(0, 100, 140));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100hv;
}